<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modulo.promoVentas.mapper.ClienteMapper">
	<insert id="insertPersona" parameterType='com.modulo.promoVentas.model.Cliente'
		useGeneratedKeys='true' keyProperty='PE_CodigoPersona'>
		insert into tb_persona
		(PE_Nombre,PE_ApellidoPaterno,PE_ApellidoMaterno, PE_Sexo, 
		PD_CodigoTipoDocIdentidad, UB_CodigoUbigeo, PE_NumeroDocIdentidad,
		PE_EmailPersonal,PE_Direccion,PE_Urbanizacion,PE_ReferenciaDomiciliaria,PE_Celular)  
		values (#{PE_Nombre},#{PE_ApellidoPaterno},'',0,1,1,#{PE_NumeroDocIdentidad},#{PE_EmailPersonal},
		#{PE_Direccion},#{PE_Urbanizacion},#{PE_ReferenciaDomiciliaria},#{PE_Celular})
	</insert>
</mapper>